* {
    font-family: 'DM Sans', sans-serif;
}

.icons-social {
    max-width: 200px;
}

.tableta {
    max-width: 550px;
}

@media only screen and (min-width: 992px) {
    .titlu-2 {
      font-size: 4em!important;
    }
    .telefon {
        max-width: 550px;
    }
  }

  @media only screen and (max-width: 992px) {
    .titlu-2 {
      font-size: 2.5em!important;
    }
  }

  .btn-primary {
    color: #fff;
    background-color: #664efc!important;
    border-color: #664efc!important;
    outline: none;
  }

  .text-indigo {
      color: #7864ff;
  }

  .text-indigo, .arrow:hover {
    color: #7864ff;
}

  .arrow::after {
    content: ' \2192';
    display: inline-flex;
    margin-left: 5px;
    align-items: center;
    font-weight: 400;
    color: #664efc;
  }

  .media-icons {
    max-width: 400px;
  }

  @media only screen and (max-width: 976px) {
    .media-icons {
        max-width: 100%!important;
  }

  .telefon {
    max-width: 100%!important;
}

}

@media only screen and (max-width: 576px) {

  .telefon, .tableta, .media-icons {
    margin-bottom: 40px!important;
}

}

  

  img.logo {
    -webkit-filter: drop-shadow(5px 5px 5px #664efc);
  filter: drop-shadow(0px 0px 50px #664efc);
  }

  .no-dec {
      text-decoration: none;
  }

  .background-custom {
    position: absolute;
    top: -10px;
    left: -10px;
    filter: blur(120px);
    background: white;
    background: radial-gradient(circle at top left, rgba(174, 170, 203, 0.95) 0%, rgba(166, 202, 236, 0.95) 15%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%), radial-gradient(circle at top center, rgba(224, 130, 167, 0.95) 20%, rgba(255, 255, 255, 0) 50%), radial-gradient(circle at top right, rgba(238, 90, 86, 0.95) 8%, rgba(254, 186, 77, 0.95) 20%, rgba(252, 224, 114, 0.95) 30%, rgba(238, 242, 215, 0.7) 45%, rgba(255, 255, 255, 0) 50%);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 150%;
    z-index: -1;
  }